<div class="alert alert-warning">
  <a target="_blank" href='http://a.app.qq.com/o/simple.jsp?pkgname=org.ryeboy.app.android'>
    <%= image_tag("2d-img.png", width: 120) %>
    麦田APP Android 下载
  </a>

</div>

<div class="alert alert-warning">
  <p>
    <a href="itms-services://?action=download-manifest&amp;url=https://api.ryeboy.org/ios/manifest.plist">
    麦田APP iOS 下载
    </a>
  </p>
  <br>
  <div>
    <p>提示：</p>
    <p>1.点击iOS下载后，会在后台下载麦田app，回到苹果手机桌面可以查看进度。</p>
    <p>2.部分苹果用户安装后会提示需要授权，可<a href="http://jingyan.baidu.com/article/fea4511a13c559f7ba91254d.html" target="_blank">点击此处</a>按图文提示设置即可。</p>
  </div>
</div>
