<div class="alert alert-warning">
  <a target="_blank" href='http://a.app.qq.com/o/simple.jsp?pkgname=org.ryeboy.app.android'>
    <%= image_tag("2d-img.png", width: 120) %>
    下载麦田APP 成功未来尽在掌握!
  </a>
</div>
