<h2><%= t("helpers.unread_comments") %></h2>

<%= render :partial => "list", :locals => { :comments => @unread_comments } %>

<h2><%= t("helpers.read_comments") %></h2>

<%= render :partial => "list", :locals => { :comments => @read_comments } %>
