<h1>问答</h1>

<div class="top-button-area clearfix">
  <%= link_to '提问', new_topic_path, :class => "btn btn-primary pull-right" %>
</div>

<div>
  <%= render :partial => "topics/topic_list", :locals => { :topics => @topics } %>
</div>
