<h1>修改密码</h1>

<div>
  <%= form_for(@user) do |f| %>
    <fieldset>
      <legend>修改密码</legend>

      <label>新密码</label>
      <%= f.password_field :password %>
      <label>重复新密码</label>
      <%= f.password_field :password_confirmation %>
      <br>
      <%= submit_tag "提交" %>
    </fieldset>
  <% end -%>
</div>
