<div class="col-md-9">
  <div class="highlight-block">
    <div class="list-title">
      在麦田成功恢复健康的例子
      <a href="#" class="view-more">更多...</a>
    </div>

    <ul class="normal-list">
      <li><a href="#">【经典案例1】阿林 — 10年慢前的康复之路 （关键字：前列腺、阳痿早泄）</a></li>
      <li><a href="#">【经典案例1】阿林 — 10年慢前的康复之路 （关键字：前列腺、阳痿早泄）</a></li>
      <li><a href="#">【经典案例1】阿林 — 10年慢前的康复之路 （关键字：前列腺、阳痿早泄）</a></li>
      <li><a href="#">【经典案例1】阿林 — 10年慢前的康复之路 （关键字：前列腺、阳痿早泄）</a></li>
      <li><a href="#">【经典案例1】阿林 — 10年慢前的康复之路 （关键字：前列腺、阳痿早泄）</a></li>
      <li><a href="#">【经典案例1】阿林 — 10年慢前的康复之路 （关键字：前列腺、阳痿早泄）</a></li>
    </ul>
  </div>

  <div class="highlight-block with-top-margin">
    <div class="list-title">
      最新活动
      <a href="#" class="view-more">更多...</a>
    </div>

    <ul class="normal-list">
      <li><a href="#">【经典案例1】阿林 — 10年慢前的康复之路 （关键字：前列腺、阳痿早泄）</a></li>
      <li><a href="#">【经典案例1】阿林 — 10年慢前的康复之路 （关键字：前列腺、阳痿早泄）</a></li>
      <li><a href="#">【经典案例1】阿林 — 10年慢前的康复之路 （关键字：前列腺、阳痿早泄）</a></li>
      <li><a href="#">【经典案例1】阿林 — 10年慢前的康复之路 （关键字：前列腺、阳痿早泄）</a></li>
      <li><a href="#">【经典案例1】阿林 — 10年慢前的康复之路 （关键字：前列腺、阳痿早泄）</a></li>
      <li><a href="#">【经典案例1】阿林 — 10年慢前的康复之路 （关键字：前列腺、阳痿早泄）</a></li>
    </ul>
  </div>
</div>

<div class="col-md-3">
  <div class="highlight-block">
    <div class="list-title">
      新手专区
      <a href="#" class="view-more">更多...</a>
    </div>

    <ul class="normal-list">
      <li><a href="#">如何开始</a></li>
      <li><a href="#">常见问题</a></li>
      <li><a href="#">新手指南</a></li>
    </ul>
  </div>

  <div class="highlight-block with-top-margin">
    <div class="list-title">
      麦田微信公众号
      <a href="#" class="view-more">更多...</a>
    </div>

    <ul class="normal-list">
      <li><a href="#">麦田课程每日分享</a></li>
      <li><a href="#">麦田课程每日分享</a></li>
      <li><a href="#">麦田课程每日分享</a></li>
    </ul>

    <div class="wechat-poster">
      <%= image_tag("wechat-poster.jpg") %>
    </div>
  </div>
</div>
