<h1>文档中心</h1>

<table class="table table-hover">
<% @documents.each do |document| %>
  <tr>
    <td><%= link_to document.name, document %></td>
    <td><%= document.category %></td>
  </tr>
<% end %>
</table>
