<div id="footer-main"><!--start footer-main-->
	<div class="one_fourth">
		<h3>首推祛病调养系列</h3>
		<ul class="footer-list">
		 <li><a href="#">给力祛病强身术</a></li>
		 <li><a href="#">散散步！几分钟！您就可以调养身体！</a></li>
		 <li><a href="#">一卧一飞补大亏祛大病！</a></li>
		 <li><a href="#">散散步！几分钟！您就可以调养身体！</a></li>
		</ul>
	</div>
	<div class="one_fourth">
		<h3>日常习惯篇</h3>
		<ul class="footer-list">
		 <li><a href="#">隐入寻常百姓家 食疗本是平常道</a></li>
		 <li><a href="#">饮食睡觉的学问</a></li>
		 <li><a href="#">练养关键在日常---生活中如何防精气之漏</a></li>
		 <li><a href="#">谈吃</a></li>
		</ul>
	</div>
	<div class="one_fourth">
		<h3>懒人祛病篇</h3>
		<ul class="footer-list">
		 <li><a href="#">隐入寻常百姓家 食疗本是平常道</a></li>
		 <li><a href="#">饮食睡觉的学问</a></li>
		 <li><a href="#">练养关键在日常---生活中如何防精气之漏</a></li>
		 <li><a href="#">谈吃</a></li>
		</ul>

	</div>
	<div class="one_fourth column-last">
		<h3>特效对治篇</h3>
		<ul class="footer-list">
		 <li><a href="#">隐入寻常百姓家 食疗本是平常道</a></li>
		 <li><a href="#">饮食睡觉的学问</a></li>
		 <li><a href="#">练养关键在日常---生活中如何防精气之漏</a></li>
		 <li><a href="#">谈吃</a></li>
		</ul>

	</div>
</div><!--end footer-main-->

<div id="footer">
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</div>
