// Place all the styles related to the exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#exercise_content {
  width: 400px;
  height: 150px;
}
.task-description {
  background: #e3e3e3;
  margin: 10px 0;
  padding: 10px;
  color: #999999;
}
.searchfield-above-table {
  text-align: right;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;

  &.no-border {
    border: none;
  }
}
#quick-search-conditions {
  margin-top: 20px;
}
.form-in-table {
  margin: 0;
}
table.has-inline-form tr td {
  vertical-align: middle;
}
.no-result {
  margin-top: 20px;
}
.like-widget {
  cursor: pointer;

  .icon-heart.liked {
    color: #a23a52;
  }
  .liked-count {
    margin-left: 5px;
  }
}

#clean-editor {
  margin-bottom: 5px;
}
