.list-title {
  font-size: 20px;
  width: 100%;
  padding-left: 10px;

  .view-more {
    color: #428bca;
    font-size: 12px;
  }
}

.normal-list {
  li {
    list-style: none;
    margin: 10px;
  }
}

.newbie-start {
  text-align: center;

  a.btn-lg {
    font-size: 24px;
  }
}
