.main {
  width: 960px;
  margin: 0 auto;
}
.show div {
  margin: 10px;
}
.show div label {
  margin-right: 10px;
}
.notification {
  height: 450px;
  overflow-y: scroll;
  word-break: break-word;
}
.top-button-area {
  margin-bottom: 30px;
}
footer {
  margin-top: 30px;
}
