@mixin hover-style {
  background-color: #f2f1d7;
  color: lightseagreen;
}

#list {
  margin: 0;

  ol.title {
    margin-left: 0px;

    &.reply {
      height: 30px;
      background: #F0F6F3;
    }

    li {
      list-style: none;
      display: inline-block;
      padding: 5px;

      &.name {
        font-size: 24px;
        font-weight: bold;
      }

      &.author-name {
        margin-left: 5px;
      }
    }
  }

  li {
    list-style: none;

    &.item-container {
      width: 100%;
      border-bottom: 1px dashed #d9d9d9;
      padding: 20px 0 10px 0;

      .comment {
        padding: 5px;
        background-color: #fcf8e3;
        margin-bottom: 5px;

        &:hover {
          @include hover-style;
        }
      }
    }

    &.reply-container {
      width: 100%;

      div.content {
        padding: 10px 10px 25px 10px;
        position: relative;

        &:hover {
          .operations {
            display: block;
          }
        }

        .operations {
          position: absolute;
          right: 5px;
        }
      }
    }
  }

  .content {
    padding: 10px;

    &:hover {
      @include hover-style;
    }
  }
  tr.comment td{
    border-top: none;
  }
  .comment {
    width: 100%;
    max-height: 200px !important;
    overflow-y: scroll;
  }
}
