.notification-trigger {
  position: fixed;
  left: 0;
  top: 100px;
  padding: 10px;
  border: 1px solid #CCC;
  cursor: pointer;
  background-color: #FFFFCC;

  &:hover {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  a {
    text-decoration: none;
  }

  &.newFeatures {
    top: 141px;
  }
}
