body {
  background: #f5f5f5;
}

.full-width {
  width: 100%;
}
.unread-count {
  color: red;
}
.normal-width-select2 {
  width: 200px;
  margin: 0px 5px;
}
.hint-text {
  color: #777;
}
.username {
  color: #5d7895;
}
.text-danger {
  color: #b94a48;
}
.self-study {
  text-align: center;
}
.guest-notice {
  border-top: 1px solid #e5e5e5;
  margin-top: 20px;
}

ul,ol {
  -webkit-padding-start: 0px;
  padding-left: 0;
}
