<table class="table table-hover">
  <thead>
    <tr>
      <th>功课名称</th>
      <th>功课内容</th>
      <th>打卡</th>
    </tr>
  </thead>

  <tbody>
    <% if unsigned_tasks.present? -%>
      <% unsigned_tasks.each do |task| -%>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= link_to("打卡", new_exercise_path(:date => date, :task_id => task.id)) %></td>
      </tr>
      <% end -%>
    <% else -%>
      <tr>
        <td colspan="3">
          <div class="alert alert-success">
            <%= I18n.t("notices.good_job") %>
          </div>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
